/* You ventured into the CSS!
   For reaching these harsh lands, have a small 'logo' for your troubles.

   'j'
*/

/* Color Variables */
:root {
    --accent-blue: #0095ff;
    --accent-green: #49fd8b;

    --arborist-bg: #333436;
    --arborist-fg: #ffb468;

    --coolbot-bg: #4aff99;
    --coolbot-fg: #258d52;

    --gdr-bg: #2b2b2b;
    --gdr-fg: #ffaa00;

    --ssb-bg: #8ceca8;
    --ssb-fg: black;

    --bg-base-1: #dcebff;
    --bg-base-2: #adccff;

    --bg-card: #c5dfff;
    --bg-card-2: #96c5ff;
    --border-card: #355a7c;
    --border-green: #134123;

    --text: #1a2c3d;
}

/* Wavy Background */
html {
    background-color: var(--bg-base-1);
}

.bg-squiggles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.bg-squiggles path {
    stroke: var(--bg-base-2);
    stroke-width: 6;
    fill: none;
    filter: url(#squiggly-0);
    animation: squiggle 1s ease-in-out infinite alternate;
}

/* General Attributes */
body {
    text-align: center;
    font-family: 'Inter Tight', 'Arial', sans-serif;
    margin: 0;
    transition: all 0.5s;
    text-transform: lowercase;
    animation: squiggle 0.5s ease-in-out infinite alternate;
}

header {
    background-color: var(--accent-blue);
    margin: auto;
    max-width: 600px;
}

header img {
    max-width: 500px;
    height: auto;
    width: 100%;
    animation: squiggle 0.3s infinite;
}

h1 {
    font-family: 'Inter Tight', 'Arial', sans-serif;
    font-size: 1.5em;

    width: fit-content;
    margin: auto;
    padding: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Inter Tight', 'Arial', sans-serif;
    font-size: 3em;
    word-break: break-word;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Inter Tight', 'Arial', sans-serif;
    font-size: 1.5em;
}

p {
    margin-top: 0px;
    font-family: 'Inter Tight', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}

/* Links */
a {
    display: inline-block;
    position: relative;
    margin-top: 0px;
    font-family: 'Inter Tight', 'Arial', sans-serif;
    font-weight: semi-bold;
    font-size: 1.5em;
    font-weight: 500;
    margin-right: 5px;
    color: var(--text);
}

a:hover {
    transform: scale(1.05);
    filter: brightness(110%);
}

a:active {
    transform: scale(0.95);
    filter: brightness(90%);
}


/* Project Containers */
.projects-container {
    margin: 2vw;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    place-items: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

.project-title {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: lowercase;
    margin: 0;
}

@media (min-width: 1100px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.project {
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    overflow-wrap: break-word;
    align-items: center;
    justify-content: center;

    color: var(--text);
    background-color: var(--bg-card);
}

.project-image-container {
    text-align: center;
    padding: 20px;
    flex: 0 0 200px;
}

.project-image-container img {
    width: 100%;
    animation: squiggle 0.3s infinite;
}

.category {
    text-align: left;
    width: max-content;
    padding: 10px;
    margin: 2vw;
}

.project-desc-container {
    flex: 1;
    text-align: left;
    padding: 20px;
}

/* The Squiggle Effect */
@keyframes squiggle {
    0% {
        filter: url('#squiggly-0');
    }

    50% {
        filter: url('#squiggly-1');
    }

    100% {
        filter: url('#squiggly-0');
    }
}

/* Now Readable on Phones! */
@media (max-width: 500px) {
    header img {
        width: 80vw;
    }

    .project-image-container img {
        width: 40vw;
    }

    .project-image-container {
        flex: 0 0 auto
    }

    .project {
        flex-direction: column;
    }

    .category {
        font-size: 2.5vw;
    }
}

/* Dark theme to relax your eyes! */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-base-1: #0f2133;
        --bg-base-2: #153261;

        --bg-card: #355a7c;
        --bg-card-2: #195287;
        --border-card: #c5dfff;
        --border-green: #cfffe0;

        --text: #e6f1ff;
    }

    body {
        color: white;
    }

    a {
        color: white;
    }
}

/* You reached the end! Thanks for reading (or scrolling)! :) */